{% extends "layout/base.html" %} {% block title %}About | ZOVO SEARCH{% endblock
%} {% block content %} {% include "sections/about/about-hero.html" %} {% include
"sections/about/our-story.html" %} {% include
"sections/about/our-philosophy.html" %} {% include
"sections/about/company-stats.html" %} {% include "sections/about/timeline.html"
%} {% include "sections/about/technologies.html" %} {% include
"sections/about/future-vision.html" %} {% include
"sections/about/about-cta.html" %} {% endblock %}
