.stats {
  padding: 80px 0;
  background: #ffffff;

  margin-top: -90px;
  position: relative;
  z-index: 10;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.stat-card {
  background: white;

  border-radius: 20px;

  padding: 40px;

  text-align: center;

  box-shadow: 0 10px 35px rgba(37, 99, 235, 0.08);

  transition: 0.35s;
}

.stat-card:hover {
  transform: translateY(-10px);

  box-shadow: 0 20px 50px rgba(37, 99, 235, 0.15);
}

.stat-card h2 {
  font-size: 48px;

  color: #2563eb;

  margin-bottom: 10px;
}

.stat-card p {
  color: #6b7280;

  font-size: 18px;
}
