/* ---------- Reset ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- Colors ---------- */

:root {
  --primary: #2563eb;
  --secondary: #4f8bff;

  --dark: #0f172a;

  --light: #f8fafc;

  --text: #334155;

  --white: #ffffff;
}

/* ---------- Body ---------- */

body {
  font-family: "Inter", sans-serif;

  background: var(--light);

  color: var(--dark);
}

/* ---------- Container ---------- */

.container {
  width: 90%;

  max-width: 1280px;

  margin: auto;
}
/* ==========================================
        GLOBAL MENU LOCK
========================================== */

body.menu-open {
  overflow: hidden;
}
